*{
    font-family: 'Inter', sans-serif;
    /* width: 100%; */
}
html{
    width: 100vw;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: smaller;
    display: inline-flex;
    flex-direction: column;
}
#LogoImg{
    border-radius: 100%;
}

#introHeaderBox{
    background-image:  url('../img/headerBg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#introHeader{
    width: 48%;
    font-size: 3rem;
}
#btnHeader{
    display: inline-flex;
    justify-content: center;
    width: 40%;
    height: 50px;
}
#ButtonNav{
    width: 20%;
    font-size: small;
    height: 100%;
    margin-right: 15px;
}
#ButtonNav:hover{
    color: aliceblue;
    background-color: #226BD2;
}

@media(max-width: 590px){
    #introHeaderBox{
        background-image:  url('../img/headerBgSmall.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 120vh;
    }
    #ButtonNav{
        font-size: small;
        width: 90%;
        height: 100%;
        margin-right: 15px;
    }
    #btnHeader{
        width: 60%;
    }
}

#midBox{
    width: 80%;
    align-self: center;
}

#lastBoxCont{
    height: 500px;
}
#locationMap{
    width: 100%;
    height: 100%;
}